/* 默认状态：四个菜单项底部无边框 */
.menu-link {
    color: rgba(0, 0, 0, 0.7); /* 文字颜色稍微深一点 */
    text-decoration: none;
    border-bottom: .25rem solid transparent; /* 默认无边框 */

  }
  
  /* 悬停 (hover) 和 焦点 (focus) 状态：底部变成灰色 */
  .menu-link:hover,
  .menu-link:focus {
    border-bottom-color: grey;
  }
  
  /* 选中 (active) 状态：文字黑色，底部边框黑色 */
  .menu-link.active {
    color: black;
    border-bottom-color: black;
  }


  .flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
  }
  