{% extends "base.html" %}
{% block content %}
<h3 class="mb-4 mt-4"> Macro Future Outlook</h3>
<div class="list-group">
  {% for m in macro_data %}
    <div class="list-group-item">
      <strong>{{ m['reference_date'] }}</strong> – {{ m['country_code'] }} – {{ m['event_name'] }}<br>
      <small>Latest={{ m['latest_value'] }}, Expected={{ m['expected_value'] }}, Previous={{ m['previous_value'] }}</small>
    </div>
  {% endfor %}
</div>
<div class="d-flex justify-content-center">
<a href="{{ url_for('events.index') }}" class="btn btn-secondary mt-4 mb-5">← Back</a>
</div>
{% endblock %}
