{% extends 'base.html' %}

{% block header %}
  <h2 class="register-title">{% block title %}Register{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Create Account">
  </form>

  <p class="login-link">
    Have an account? <a href="{{ url_for('auth.login') }}">Log in</a>
  </p>
{% endblock %}